<html>
  <head>
    <title>MKhaikin Portfolio Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" style="text/css" href="../Public/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="header">
          <div class="Menu">
            <div class="logo"><span><i class="fas fa-code"></i> Portfolio</span></div>
            <nav>
              <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#media">Media Gallery</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <div class="social">
                  <ul>
                    <li><a href="#facebook"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#instagram"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#youTube"><i class="fab fa-google-plus-g"></i></a></li>
                  </ul>
                </div>
              </ul>
            </nav>
          </div>
          <div class="banner">

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
