<html>
  <head>
    <title>Scroll Down</title>
    <link rel="stylesheet"  style="text/css" href="../Public/scroll.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js">

    </script>
  </head>
  <body>
    <!-- this is the nav bar-->
    <div class="header">
      <h1>Animated Fixed Header (Scroll Down)</h1>
    </div>
    <div class="content">
      <!-- this is the conent boxes-->
      <div class="boxes">
        <div class="box a solid"><p>this the first box</p></div>
        <div class="box b"><p>this the blue box</p></div>
        <div class="box c"><p>this is the red box</p></div>
        <div class="box d"><p>this is the yellow box</p></div>
      </div>
    </div>
    <!-- jQuery-->

    <script type="text/javascript" src="../Public/scroll.js"></script>
  </body>
</html>
