* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
a {
  text-decoration: none;
}
.header {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  overflow: hidden;
}
.menu {
  height: 100px;
  width: 100%;
  background-color: #474747;
  font-variant: small-caps;
}
.logo {
  float: left;
  color: #e4e4e4;
  font-size: 2em;
  padding-left: 50px;
  line-height: 100px;
  width:40%;
  height: inherit;
}
nav {
  float: left;
  height: inherit;
  padding-left: 100px;
}
nav ul {
  float: right;
  height: inherit;
  line-height: 100px;

}
nav li a {
  color: #e4e4e4;
  text-align: center;
  padding-left: 25px;
  font-size: 1.25em;
}
nav li a:hover {
  text-decoration: underline;
}
.social {
  padding-left: 50px;
  float: right;
  color: #e4e4e4;
}
.social li {
  padding-right: 25px;
  color: #e4e4e4;
}

.social a:hover {

}
